/* $orange-dark-color: hsl(22, 89%, 52%); */
$orange-dark-color: #C74700;
$orange-light-color: hsl(22, 100%, 69%);
$grey-dark-color: hsl(220, 50%, 17%);
/* $grey-light-color: hsl(221, 23%, 58%); */
$grey-light-color: #4d577a;
$grey-light02-color: hsl(198, 28%, 93%);
$white-color: #ffffff;

$text-mobile-1: 3.2rem;
$text-mobile-2: 2.4rem;
$text-mobile-3: 1.6rem;

$text-desktop-1: 5.6rem;
$text-desktop-2: 3.6rem;
$text-desktop-3: 2.8rem;
$text-desktop-4: 2.6rem;

$text-lh-1: 1.5;
$text-lh-2: 1.1;

$space-500: 4rem;
$space-400: 3.2rem;
$space-300: 2.4rem;
$space-200: 1.6rem;
$space-100: .8rem;
$space-50: .4rem;

